* {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-weight: 400;
}

// unicorn pop header
// cheese burger

// 210 musical
// korean cnml

body,
a {
    font-family: "unicorn", "210", "Helvetica Neue", "Helvetica", sans-serif;
    background: #F2CED8;
    color: #03258C;
    text-transform: uppercase;
    text-decoration: unset;
    text-align: center;
}


header {

    padding: 1em 0px;
    line-height: 1.4;

    h1 {
        font-size: 7.5vw;
    }

    p {
        font-size: 3vw;
    }
}

.gallery {
    width: 100vw;

    .wrap {
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        width: 100vw;
        color: #375CA6;

        .arrowbox {
            i {
                transition: .4s;
            }

            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 3vw;

            &:hover {
                color: #03258C;

                cursor: pointer;
            }


        }

        .inactive {
            cursor: unset !important;
            color: #F2CED8 !important;
        }

        img {
            width: 80vw;
            max-height: 80vh;
            object-fit: contain;
        }


    }

    .circles {
        text-align: center;
        padding: 2em 0;
        font-size: 10px;
        letter-spacing: 3px;
        color: #7587BF;
        cursor: default;

        i {
            transition: .4s;
            cursor: pointer;

            &:hover {
                color: #375CA6;
            }
        }

        .active {
            color: #03258C;
        }
    }
}

footer p {
    font-size: .8em;
    margin-bottom: 3em;
}

#pdf {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 1em 0 2em 0;
    /* margin: auto; */
}

#pdf p {
    display: block;
    width: 40vw;
    background: white;
    padding: 6px;
    border-radius: 20px;
}

#pdf a {
    background: unset;
}

#pdf i {
    display: none;
}